.vehicle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#vehicle-table {
  width: 100%;
  height: 100%;
}

.tabulator {
  border: none;
  margin-top: 12px;
}

.tabulator-row {
  &.tabulator-selected {
    background-color: var(--main-color);
    color: var(--white);
  }
}
